body {
	background-color: floralwhite;
	font-family: "custom font";
}

h1 {
	color: black;
	background-color: floralwhite;
	text-align: center;
}

p {
	
}

@font-face {
	font-family: "custom font";
	src: url(MonoSocialIconsFont-1.10.ttf);
	font-weight: normal;
}
