body {
	background-color: floralwhite;
	font-family: "custom font";
	text-align: center;

}

h1 {
	font-size: 45px;
	color: black;
	background-color: floralwhite;
	text-align: center;
}

h2 {
	font-size: 30px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
	font-family: "custom font";
	src: url(MonoSocialIconsFont-1.10.ttf);
	font-weight: normal;
}
